.box1 {
  width: 1440px;
  height: 806px;
  background-color: lightgrey;

  }
.box2 {
  width: 500px;
  height: 700px;
  background-color: white;
  margin:10px 420px 20px;
  padding: 10px 30px 20px 30px;
  font-size: 20px;
  line-height: 20px;
  }
.fig {
  text-align: center;
}
